body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#e6eef5;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #ababab;  
        border-radius: 15px ;  
          
}  
h1{  
    text-align: center;  
    color: #130a44;  
    padding: 20px;  
}  
h2{  
    text-align: center;  
    color: #0d0a4f;  
    padding: 20px;  
} 
h3{  
    text-align: center;  
    color: #ff0000;
} 
label{  
    color: #04375e;  
    font-size: 17px;  
}  
#user{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);
}
